@model Education
@{
    ViewData["Title"] = "Admin Egitim Guncelle";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<form id="educationUpdateForm" method="post">
    <br />
    <h4>Eğitim Güncelleme Sayfası</h4>
    <hr />
    <div class="form-group">
        <input type="hidden" name="ID" value="@Model.ID">
        <label for="SchoolName">Okul Adı:</label>
        <input type="text" required maxlength="50" min="3" class="form-control" name="SchoolName" value="@Model.SchoolName" id="SchoolName" placeholder="">
        <span id="SchoolNameError" class="text-danger" style="margin-top: 5px; display: block;"></span>
    </div>
    <br />
    <div class="form-group">
        <label for="SectionName">Bölüm:</label>
        <input type="text" required maxlength="50" min="3" class="form-control" name="SectionName" value="@Model.SectionName" id="SectionName" placeholder="">
        <span id="SectionNameError" class="text-danger" style="margin-top: 5px; display: block;"></span>
    </div>
    <br />
    <div class="form-group">
        <label for="Years">Okul Yılı:</label>
        <input type="text" required maxlength="11"  class="form-control" name="Years" value="@Model.Years" id="Years" placeholder="">
        <span id="YearsError" class="text-danger" style="margin-top: 5px; display: block;"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#educationUpdateForm').submit(function (event) {
            event.preventDefault();

            var formData = $(this).serialize();

            // Hata mesajlarını temizle
            $('#SchoolNameError').html('');
            $('#SectionNameError').html('');
            $('#YearsError').html('');
            $('#resultsucc').html('');

            $.ajax({
                url: '/AdminEgitim/Guncelle',
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.redirectUrl;  // Başarı durumunda yönlendirme
                    } else {
                        // Hataları ilgili alanlara göster
                        if (response.errors.SchoolName) {
                            $('#SchoolNameError').html(response.errors.SchoolName);
                        }
                        if (response.errors.SectionName) {
                            $('#SectionNameError').html(response.errors.SectionName);
                        }
                        if (response.errors.Years) {
                            $('#YearsError').html(response.errors.Years);
                        }
                    }
                },
                error: function () {
                    $('#resultsucc').html('<div class="alert alert-danger">Bir hata oluştu. Lütfen tekrar deneyin.</div>');
                }
            });
        });
    });
</script>
