@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Admin Giriş Ekranı</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link rel="icon" type="image/png" href="~/LoginTemp/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/LoginTemp/css/util.css" />
    <link rel="stylesheet" type="text/css" href="~/LoginTemp/css/main.css" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('@Url.Content("~/LoginTemp/images/bg-01.jpg")');">
            <div class="wrap-login100 p-t-80 p-b-80">
                <span class="login100-form-title p-b-41">Admin Giriş Ekranı</span>
                <form id="loginForm" class="login100-form validate-form p-b-33 p-t-5">
                    <div class="wrap-input100 validate-input" data-validate="Kullanıcı Adı Boş Geçilemez">
                        <input class="input100" type="text" name="UserName" placeholder="Kullanıcı Adınız.." required autocomplete="off"
                               pattern="^[a-zA-Z0-9_.-]+$" title="Yalnızca harf, rakam, nokta, tire ve alt çizgi">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                        <span id="UserNameError" class="text-danger" style="color:red;display:block;margin-top:5px;margin-left:15px;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Şifre Boş Geçilemez" style="position: relative;">
                        <input class="input100" type="password" id="Password" name="Password" placeholder="Şifreniz.." required autocomplete="off"
                               pattern=".{8,}" title="En az 8 karakter olmalı">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                        <span id="PasswordError" class="text-danger" style="color:red;display:block;margin-top:5px;margin-left:15px;"></span>
                        <button type="button" id="togglePassword" style="
                            position: absolute;
                            right: 15px;
                            top: 50%;
                            transform: translateY(-50%);
                            background: transparent;
                            border: none;
                            font-size: 18px;
                            cursor: pointer;
                            color: #999;">
                            <i class="fa fa-eye"></i>
                        </button>
                    </div>

                    <div class="container-login100-form-btn m-t-32">
                        <button type="submit" class="login100-form-btn">Giriş Yap</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            $('#togglePassword').on('click', function () {
                var input = $('#Password');
                var icon = $(this).find('i');
                var type = input.attr('type') === 'password' ? 'text' : 'password';
                input.attr('type', type);
                icon.toggleClass('fa-eye fa-eye-slash');
            });
            $('#loginForm').submit(function (event) {
                event.preventDefault();
                $('#UserNameError').html('');
                $('#PasswordError').html('');

          $.ajax({
            url: '/AdminGiris/Panel',
            type: 'POST',
            data: $(this).serialize(),
            success: function (response) {
                console.log("🔴 RESPONSE:", response);

                if (response.success) {
                    sessionStorage.removeItem("shownAlert");
                    window.location.href = response.redirectUrl;
                }
                else if (response.locked) {
                    Swal.fire({
                        title: 'Hatalı Giriş!',
                        text: response.alertMessage || 'Mesaj gelmedi.',
                        icon: 'error',
                        confirmButtonText: 'Tamam'
                    }).then(function () {
                        location.reload();
                    });
                }
                else {
                    if (response.errors) {
                        if (response.errors.UserName) {
                            $('#UserNameError').html(response.errors.UserName);
                        }
                        if (response.errors.Password) {
                            $('#PasswordError').html(response.errors.Password);
                        }
                    }

                    if (response.alertMessage) {
                        Swal.fire({
                            title: 'Giriş İşlemi Hatalı!',
                            text: response.alertMessage,
                            icon: 'error',
                            confirmButtonText: 'Tamam'
                        });
                    }
                }
            },
            error: function () {
                Swal.fire('Hata', 'Sunucuya erişilemedi.', 'error');
            }
        });


            });

        });
    </script>
</body>
</html>