@model Login
@{
    ViewData["Title"] = "Admin Giris Liste";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<br />
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Admin Giriş Bilgileri
    </div>
    <div class="card-body">
        <table class="table table-hover" id="datatablesSimple">
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>Şifre</th>
                    <th>Güncelle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.UserName</td>
                    <td>***</td>
                    <td><a class="btn btn-success" href="/AdminKullanici/Guncelle">Güncelle</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@if (TempData["Type"] != null && !string.IsNullOrEmpty(TempData["Type"].ToString()))
{
    var title = "";
    var icon = "";
    var message = TempData["Message"]?.ToString() ?? "";

    if (TempData["Type"].ToString() == "error")
    {
        title = "Hata";
        icon = "error";
    }
    else if (TempData["Type"].ToString() == "success")
    {
        title = "Başarılı";
        icon = "success";
    }

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                title: '@Html.Raw(title)',
                text: '@Html.Raw(message)',
                icon: '@Html.Raw(icon)',
                confirmButtonText: 'Tamam'
            });
        });
    </script>
}