@model List<Jobs>
<div class="container-fluid" id="pigraWork">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-3">
                <div class="experience-header bg-dark h-100 pt-6 pe-6 pb-6">
                    <div class="text-start d-flex flex-column justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                        <h2 class="display-6 text-white mb-0">İş Hayatı</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="experience-content h-100 pt-6 ps-6 pb-6">
                    <div class="row g-4">
                        @foreach (Jobs item in Model)
                        {
                            <div class="col-12">
                                <div class="experience-item rounded p-4 h-100 wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="d-flex align-items-center mb-3">
                                        <p class="fs-5 mb-0 me-4">@item.JobName</p>
                                        <div>
                                            @{
                                                string years = item.JobYears;
                                                string[] yearParts = years.Split('-');
                                                if (yearParts.Length == 2 && yearParts[0] == yearParts[1])
                                                {
                                                    years = yearParts[0]+"-Aktif";
                                                }
                                            }
                                            <span class="fa fa-calendar me-1"></span> @years
                                        </div>
                                    </div>
                                    <h4 class="mb-3">@item.JobTitle</h4>
                                    <p class="mb-0">
                                        @item.JobAbout
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>